body {
background: #d99b28;
}

h1 {
  font-size: 4em;
  color: white;
  margin-left: 500px;

}

h2 {

  font-size: 1em;
  font-style: oblique;
  color: white;
font-family: sans-serif;



}

p {


  margin: 40px;
  width: 400px;
  margin-left: 500px;
  


}
